USE [master]
GO
/****** Object:  Database [QlSinhVien]    Script Date: 9/14/2026 11:23:00 AM ******/
CREATE DATABASE [QlSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlSinhVien', FILENAME = N'C:\Users\Admin\QlSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QlSinhVien_log', FILENAME = N'C:\Users\Admin\QlSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlSinhVien]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[email] [varchar](50) NULL,
	[diemTb] [decimal](4, 2) NULL,
	[lopHocId] [int] NULL,
	[msv]  AS ('MSV'+case when [Id]<(1000) then right('000'+CONVERT([varchar](10),[id]),(3)) else CONVERT([varchar](10),[id]) end),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenLop] [nvarchar](5) NOT NULL,
	[chuyenNganh] [nvarchar](50) NULL,
	[boMonId] [int] NULL,
	[MaLop]  AS ('L'+case when [Id]<(1000) then right('000'+CONVERT([varchar](10),[Id]),(3)) else CONVERT([varchar](10),[Id]) end),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoMon]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoMon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenMon] [nvarchar](30) NULL,
	[maBM]  AS ('BM'+case when [id]<(1000) then right('000'+CONVERT([varchar](10),[id]),(3)) else CONVERT([varchar](10),[id]) end),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BaoCao_ChiTietSinhVien]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--VIEW BÁO CÁO CHI TIẾT SINH VIÊN
CREATE   VIEW [dbo].[vw_BaoCao_ChiTietSinhVien]
AS
SELECT sv.id AS SinhVienId,
       sv.msv AS MaSinhVien,
       sv.hoTen AS HoTen,
       sv.gioiTinh AS GioiTinh,
       CASE WHEN sv.gioiTinh = 1 THEN N'Nam' ELSE N'Nữ' END AS GioiTinhText,
       sv.ngaySinh AS NgaySinh,
       DATEDIFF(YEAR, sv.ngaySinh, GETDATE()) - CASE WHEN DATEADD(YEAR, DATEDIFF(YEAR, sv.ngaySinh, GETDATE()), sv.ngaySinh) > GETDATE() THEN 1 ELSE 0 END AS Tuoi,
       ISNULL(sv.email, N'N/A') AS Email,
       ISNULL(sv.diemTb, 0) AS DiemTB,
       CASE WHEN sv.diemTb >= 9.0 THEN N'Xuất sắc' WHEN sv.diemTb >= 8.0 THEN N'Giỏi' WHEN sv.diemTb >= 6.5 THEN N'Khá' WHEN sv.diemTb >= 5.0 THEN N'Trung bình' WHEN sv.diemTb IS NOT NULL THEN N'Yếu' ELSE N'Chưa có điểm' END AS XepLoai,
       lh.id AS LopHocId,
       ISNULL(lh.maLop, N'N/A') AS MaLop,
       ISNULL(lh.tenLop, N'Chưa xếp lớp') AS TenLop,
       ISNULL(lh.chuyenNganh, N'N/A') AS ChuyenNganh,
       bm.id AS BoMonId,
       ISNULL(bm.tenMon, N'N/A') AS TenBoMon
FROM   dbo.SinhVien AS sv
       LEFT OUTER JOIN
       dbo.LopHoc AS lh
       ON sv.lopHocId = lh.id
       LEFT OUTER JOIN
       dbo.BoMon AS bm
       ON lh.boMonId = bm.id;


GO
/****** Object:  View [dbo].[vw_BaoCao_ThongKeTheoLop]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BaoCao_ThongKeTheoLop]
AS
SELECT   lh.id AS LopHocId,
         lh.maLop AS MaLop,
		 lh.boMonId,
         lh.tenLop AS TenLop,
         ISNULL(lh.chuyenNganh, N'Chưa xác định') AS ChuyenNganh,
         ISNULL(bm.tenMon, N'Chưa phân môn') AS TenBoMon,
         COUNT(sv.id) AS TongSoSinhVien,
         SUM(CASE WHEN sv.gioiTinh = 1 THEN 1 ELSE 0 END) AS SoNam,
         SUM(CASE WHEN sv.gioiTinh = 0 THEN 1 ELSE 0 END) AS SoNu,
         ISNULL(ROUND(AVG(sv.diemTb), 2), 0) AS DiemTrungBinhLop,
         ISNULL(MAX(sv.diemTb), 0) AS DiemCaoNhat,
         ISNULL(MIN(sv.diemTb), 0) AS DiemThapNhat
FROM     dbo.LopHoc AS lh
         LEFT OUTER JOIN
         dbo.BoMon AS bm
         ON lh.boMonId = bm.id
         LEFT OUTER JOIN
         dbo.SinhVien AS sv
         ON lh.id = sv.lopHocId
GROUP BY lh.id, lh.maLop,lh.boMonId, lh.tenLop, lh.chuyenNganh, bm.tenMon;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

/****** Object:  Index [IX_LopHoc_boMonId]    Script Date: 9/14/2026 11:23:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_LopHoc_boMonId] ON [dbo].[LopHoc]
(
	[boMonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NguoiDung_Email]    Script Date: 9/14/2026 11:23:01 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NguoiDung_Email] ON [dbo].[NguoiDung]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_NguoiDungId]    Script Date: 9/14/2026 11:23:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_NguoiDungId] ON [dbo].[RefreshTokens]
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SinhVien_lopHocId]    Script Date: 9/14/2026 11:23:01 AM ******/
CREATE NONCLUSTERED INDEX [IX_SinhVien_lopHocId] ON [dbo].[SinhVien]
(
	[lopHocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (N'Tên Lớp') FOR [tenLop]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (N'Ten chuyen nganh') FOR [chuyenNganh]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([boMonId])
REFERENCES [dbo].[BoMon] ([id])
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_NguoiDung_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_NguoiDung_NguoiDungId]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([lopHocId])
REFERENCES [dbo].[LopHoc] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_GetSummaryStats]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy dữ liệu Tổng quan cho báo cáo
CREATE   PROCEDURE [dbo].[sp_Dashboard_GetSummaryStats]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT (SELECT COUNT(*)
            FROM   dbo.SinhVien) AS TongSoSinhVien,
           (SELECT COUNT(*)
            FROM   dbo.LopHoc) AS TongSoLop,
           (SELECT COUNT(*)
            FROM   dbo.BoMon) AS TongSoBoMon,
           (SELECT ISNULL(ROUND(AVG(diemTb), 2), 0)
            FROM   dbo.SinhVien) AS DiemTrungBinhToanTruong,
           (SELECT COUNT(*)
            FROM   dbo.SinhVien
            WHERE  diemTb >= 8.0) AS SoSinhVienGioi;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_Create]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thêm mới sinh viên
CREATE   PROCEDURE [dbo].[sp_SinhVien_Create]
    @msv VARCHAR(10),
    @hoTen NVARCHAR(50),
    @gioiTinh BIT,
    @ngaySinh DATE,
    @email VARCHAR(100) = NULL,
    @diemTb FLOAT = NULL,
    @maLop VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra trùng mã sinh viên
    IF EXISTS (SELECT 1 FROM dbo.SinhVien WHERE msv = @msv)
    BEGIN
        RAISERROR(N'Mã sinh viên này đã tồn tại trong hệ thống!', 16, 1);
        RETURN;
    END

    -- Kiểm tra mã lớp tồn tại (nếu có truyền mã lớp)
    IF @maLop IS NOT NULL AND NOT EXISTS (SELECT 1 FROM dbo.LopHoc WHERE maLop = @maLop)
    BEGIN
        RAISERROR(N'Mã lớp học không hợp lệ!', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.SinhVien (msv, hoTen, gioiTinh, ngaySinh, email, diemTb, maLop)
    VALUES (@msv, @hoTen, @gioiTinh, @ngaySinh, @email, @diemTb, @maLop);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_GetById]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SinhVien_GetById]
    @msv VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        sv.msv,
        sv.hoTen,
        sv.gioiTinh,
        sv.ngaySinh,
        sv.email,
        sv.diemTb,
        sv.maLop,
        lh.tenLop,
        lh.chuyenNganh,
        bm.tenMon
    FROM dbo.SinhVien sv
    LEFT JOIN dbo.LopHoc lh ON sv.maLop = lh.maLop
    LEFT JOIN dbo.BoMon bm ON lh.maBM = bm.maBM
    WHERE sv.msv = @msv;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_GetPaged]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SinhVien_GetPaged]
    @PageIndex INT = 1,             -- Số trang (bắt đầu từ 1)
    @PageSize INT = 5,              -- Số dòng hiển thị mỗi trang
    @Keyword NVARCHAR(50) = NULL,   -- Từ khóa tìm theo Tên hoặc MSV
    @TotalRecords INT OUTPUT        -- Trả về tổng số bản ghi thỏa điều kiện
AS
BEGIN
    SET NOCOUNT ON;
    -- Đếm tổng số bản ghi khớp điều kiện tìm kiếm
    SELECT @TotalRecords = COUNT(*)
    FROM dbo.SinhVien
    WHERE (@Keyword IS NULL OR hoTen LIKE N'%' + @Keyword + '%' OR msv LIKE '%' + @Keyword + '%');
	
    -- Lấy danh sách cắt trang theo OFFSET .. FETCH NEXT
    SELECT 
        sv.msv,
        sv.hoTen,
        sv.gioiTinh,
        sv.ngaySinh,
        sv.email,
        sv.diemTb,
        lh.tenLop,
        bm.tenMon
    FROM dbo.SinhVien sv
    LEFT JOIN dbo.LopHoc lh ON sv.maLop = lh.maLop
    LEFT JOIN dbo.BoMon bm ON lh.maBM = bm.maBM
    WHERE (@Keyword IS NULL OR sv.hoTen LIKE N'%' + @Keyword + '%' OR sv.msv LIKE '%' + @Keyword + '%')
    ORDER BY sv.msv ASC
    OFFSET (@PageIndex - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SinhVien_GetPagedAdvanced]    Script Date: 9/14/2026 11:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm bộ lọc theo Lớp, Bộ môn, Điểm số ngoài Từ khóa tìm kiếm
CREATE   PROCEDURE [dbo].[sp_SinhVien_GetPagedAdvanced]
@PageIndex INT=1, @PageSize INT=10, @Keyword NVARCHAR (50)=NULL, @LopHocId INT=NULL, @BoMonId INT=NULL, @MinDiem FLOAT=NULL, @MaxDiem FLOAT=NULL, @TotalRecords INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    -- Đếm tổng bản ghi thỏa mãn bộ lọc
    SELECT @TotalRecords = COUNT(*)
    FROM   dbo.SinhVien AS sv
           LEFT OUTER JOIN
           dbo.LopHoc AS lh
           ON sv.lopHocId = lh.id
    WHERE  (@Keyword IS NULL
            OR sv.hoTen LIKE N'%' + @Keyword + '%'
            OR sv.msv LIKE '%' + @Keyword + '%')
           AND (@LopHocId IS NULL
                OR sv.lopHocId = @LopHocId)
           AND (@BoMonId IS NULL
                OR lh.boMonId = @BoMonId)
           AND (@MinDiem IS NULL
                OR sv.diemTb >= @MinDiem)
           AND (@MaxDiem IS NULL
                OR sv.diemTb <= @MaxDiem);
    -- Trả về dữ liệu trang hiện tại
    SELECT   sv.id,
             sv.msv,
             sv.hoTen,
             sv.gioiTinh,
             sv.ngaySinh,
             sv.email,
             sv.diemTb,
             ISNULL(lh.tenLop, N'Chưa xếp lớp') AS tenLop,
             ISNULL(bm.tenMon, N'N/A') AS tenMon
    FROM     dbo.SinhVien AS sv
             LEFT OUTER JOIN
             dbo.LopHoc AS lh
             ON sv.lopHocId = lh.id
             LEFT OUTER JOIN
             dbo.BoMon AS bm
             ON lh.boMonId = bm.id
    WHERE    (@Keyword IS NULL
              OR sv.hoTen LIKE N'%' + @Keyword + '%'
              OR sv.msv LIKE '%' + @Keyword + '%')
             AND (@LopHocId IS NULL
                  OR sv.lopHocId = @LopHocId)
             AND (@BoMonId IS NULL
                  OR lh.boMonId = @BoMonId)
             AND (@MinDiem IS NULL
                  OR sv.diemTb >= @MinDiem)
             AND (@MaxDiem IS NULL
                  OR sv.diemTb <= @MaxDiem)
    ORDER BY sv.id DESC
    OFFSET (@PageIndex - 1) * @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
USE [master]
GO
